.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


        .loading {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .loader {
            align-items: center;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            -webkit-animation: fadeIn 1.25s infinite alternate;
            animation: fadeIn 1.25s infinite alternate;
        }

        @-webkit-keyframes fadeIn {
            from {
                opacity: 0;
            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
        }